<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
<head prefix="og: http://ogp.me/ns">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.url }}{{ '/_assets/css/styles.css' }}" />
</head>
<body>
  {% include "header.njk" %}
  <main class="page-content">
    <div class="wrapper">
      {{ content | safe }}
    </div>
  </main>

</body>
</html>