/*========================================
=            Custom Variables            =
========================================*/

/*----------  Colors  ----------*/
$black: #000;
$dark-gray: #333;
$white: #fff;
$off-white: #f1f1f1;
$light-red: #fee;
$red: #A10000;
$dark-red: #800101;
$yellow: #F2C600;
$dark-yellow: #deb600;
$blue: #1573c5;
$dark-blue: #00529a;
$cream: #FAF7EB;
$gray: #9b9b9b;
$light-gray: #e7e7e7;

$font__merriweather: 'Merriweather', serif;
$font__open-sans: 'Open Sans', sans-serif;

$size__content-width: 1000px;
$size__header-height: 135px;